.hero-banner {
  /* NOTE: 100vh may cause issues on safari for iPhone due to url browser being at the bottom of the screen */
  height: 100vh;
  padding: 2rem;
  /* background-size: contain; */
  /* background-repeat: no-repeat; */

  /* NOTE: increase the size of hero banner so background-size cover isn't cropped */
  background-size: cover;
}

/*.hero-banner__button {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem 5rem;
  width: max-content;
  background: white;
  color: black;
  font-size: 5rem;
  font-weight: 900;
  border-radius: 1rem;
  text-decoration: none;
  mix-blend-mode: screen;
  line-height: 5rem;
}*/

.banner__logo {
  max-width: 60rem;
  margin: 0 auto;
  padding-left: 5%;
  /* margin-left: 8%; */
}

.banner__logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}


.hero-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin: 0 auto;
} 

.nav-item {
  display: flex;
  margin-bottom: 2rem;
  padding: 0 2rem;
  background: white;
  color: black;
  font-size: 4rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 1rem;
  text-decoration: none;
  mix-blend-mode: screen;
}

.nav-item--child {
  margin-bottom: 1rem;
}

.hero-nav-menu li:last-child .nav-item--child {
  margin-bottom: 2rem;
}

.nav-item--child {
  font-size: 2rem;
}